<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/analysis" method="get">
        <input placeholder="월을 입력하세요."  name="mon"  required><br>
        <input type="radio" name="location" value="106" checked="checked">천연동&nbsp;&nbsp;
        <input type="radio" name="location" value="117">연희동<br>
        <input type="checkbox" name="temp" value="temp" >기온 체크</input><br>
        <input type="checkbox" name="prec" value="prec" >강수 체크</input><br>
        <button>분석화면 하기</button>
    </form>
</body>
</html>